.card {
    width: min(95%, 400px);
    margin: 30px auto;
    padding: 15px;
    border-radius: 5px;
    background: #d1d2b6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.card h1 {
    text-align: center;
}